<section class="bg-[url('/public/imgs/patron1.jpg')] bg-auto sm:h-screen lg:h-[78vh] justify-center flex items-center" id="subarea">
    <div class=" bg-negro h-[40rem] w-[80vw] align-center absolute ">
        <h1 class="text-8xl text-center h-20 w-[46rem] ml-[25.5rem] pt-8 text-comp1 ">Subáreas</h1>
        <div class="flex space-x-40 justify-center mt-16">
            <a href="#progra" class=" transition duration-500 hover:scale-125 "><img src="/public/imgs/logo.jpg" class="rounded-full h-52 w-52"></a>
            <a href="#tecnicas" class=" transition duration-500 hover:scale-125"><img src="/public/imgs/logo.jpg" class="rounded-full h-52 w-52 "></a>
            <a href="#web" class=" transition duration-500 hover:scale-125"><img src="/public/imgs/logo.jpg" class="rounded-full h-52 w-52 "></a>
            <a href="#emp" class=" transition duration-500 hover:scale-125"><img src="/public/imgs/logo.jpg" class="rounded-full h-52 w-52 "></a>
        </div>
        <div class="flex flex-row space-x-48 justify-center mt-16 text-3xl text-comp1">
            <a href="" class="translate-x-2"><span class="">Programación</span></a>
            <a href=""><span >Técnicas de Diseño</span></a>
            <a href="" class="translate-x-[0.8rem]"><span >Diseño Web</span></a>
            <a href="" class="translate-x-6"><span >Emprendedurismo</span></a>
        </div>
    </div>
</section>