<section class="bg-[url('/public/imgs/patron1.jpg')] bg-contain sm:h-screen xl:h-[78vh] justify-center hidden sm:flex items-center " id="areas">
    <div class=" bg-negro h-[40rem] w-[80vw] align-center  ">
        <h1 class="text-8xl max-md:text-6xl text-center h-20 w-[46rem] 2xl:ml-[25.5rem] xl:ml-[15rem] lg:ml-[3rem] md:ml-[-2.4rem] ml-[-12rem] pt-8 text-comp1 ">Subáreas</h1>
        <div class="xl:flex  grid grid-cols-2 grid-rows-2 2xl:space-x-40 xl:space-x-24 lg:max-xl:translate-x-32  max-xl:translate-x-20 gap-y-20 justify-center mt-16 max-md:hidden">
            <a href="#progra" class=" transition duration-500 hover:scale-125 "><img src="/public/imgs/progra.jpg" class="rounded-full xl:h-52 xl:w-52 w-40 h-40"></a>
            <a href="#tecnicas" class=" transition duration-500 hover:scale-125"><img src="/public/imgs/tecnicas.jpeg" class="rounded-full xl:h-52 xl:w-52 w-40 h-40"></a>
            <a href="#web" class=" transition duration-500 hover:scale-125"><img src="/public/imgs/disweb.jpg" class="rounded-full xl:h-52 xl:w-52 w-40 h-40"></a>
            <a href="#emp" class=" transition duration-500 hover:scale-125"><img src="/public/imgs/emp.jpeg" class="rounded-full xl:h-52 xl:w-52 w-40 h-40 "></a>
        </div>
        <div class="xl:flex xl:flex-row space-x-48 justify-center md:hidden text-center grid grid-cols-2 grid-rows-2 pt-6 text-3xl text-comp1">
            <a href="" class="2xl:translate-x-2 xl:translate-x-12 "><span class="">Programación</span></a>
            <a href="" class="text-center"><span >Técnicas de Diseño</span></a>
            <a href="" class="translate-x-[0.8rem] text-center"><span >Diseño Web</span></a>
            <a href="" class="2xl:translate-x-6 xl:translate-x-[-1rem]"><span >Emprendedurismo</span></a>
        </div>
    </div>
</section>