---
---
<footer class="bottom-0 max-xl:hidden">
    <nav class="bg-principal h-20">
        <ul class="flex flex-row justify-center py-4  text-2xl text-comp1 ">
            <li class="mr-96 ml-[-7rem] mt-2  justify-center hover:bg-secundario hover:shadow-xl transition-all duration-200 ease-in-out hover:scale-110 scale-90 rounded-xl px-2"><a href="https://covomosa.ed.cr/" target="_blank">Colegio Vocacional Monseñor Sanabria</a></li>
            <li class="h-12 w-12 hover:bg-secundario hover:shadow-xl transition-all duration-200 ease-in-out hover:scale-110 scale-90 rounded-xl px-2 py-2"><a href="https://www.instagram.com/disenoydesarrollo_vok/" target="_blank"> <img src="/icons/ig.svg" alt="s"> </a></li>
            <li class="h-12 w-12 hover:bg-secundario hover:shadow-xl transition-all duration-200 ease-in-out hover:scale-110 scale-90 rounded-xl px-2 py-2"><a href="https://www.tiktok.com/@desarrollodigital_vok" target="_blank"><img src="/icons/tik.svg" alt="s"></a> </li>
            <li class="h-12 w-12 hover:bg-secundario hover:shadow-xl transition-all duration-200 ease-in-out hover:scale-110 scale-90 rounded-xl px-2 py-2"><a href="https://www.facebook.com/disenoddigitalcovomosa/" target="_blank"><img src="/icons/fb.svg" alt="s"></a></li>
        </ul>
    </nav>
</footer>