

<section class="bg-comp3  h-[167vh] sm:h-[290vh] lg:h-[100%] ">
    <h1 class="text-8xl text-negro text-center" id="galeria">Galería</h1>
    <div class="container mx-auto px-5 py-2 xl:px-32 xl:pt-24 z-0">
        <div class="-m-1 flex flex-wrap md:-m-2">
          <div class="flex w-1/2 flex-wrap">
            <div class="w-1/2 p-1 md:p-2">
              <img
                alt="gallery"
                class="block h-full w-full rounded-xl object-cover object-center transition duration-500 hover:scale-105"
                src="/imgs/gallery/Poster.png" />
            </div>
            <div class="w-1/2 p-1 md:p-2">
              <img
                alt="gallery"
                class="block h-full w-full rounded-xl object-cover object-center transition duration-500 hover:scale-105"
                src="/imgs/gallery/abisinia.jpeg" />
            </div>
            <div class="w-full p-1 md:p-2">
              <img
                alt="gallery"
                class="block h-full w-full rounded-xl object-cover object-center transition duration-500 hover:scale-105"
                src="/imgs/gallery/pastillas.png" />
            </div>
          </div>
          <div class="flex w-1/2 flex-wrap">
            <div class="w-full p-1 md:p-2">
              <img
                alt="gallery"
                class="block h-full w-full rounded-xl object-cover object-center transition duration-500 hover:scale-105"
                src="/imgs/gallery/mujer.jpeg" />
            </div>
            <div class="w-1/2 p-1 md:p-2">
              <img
                alt="gallery"
                class="block h-full w-full rounded-xl object-cover object-center transition duration-500 hover:scale-105"
                src="/imgs/gallery/guerra.jpeg" />
            </div>
            <div class="w-1/2 p-1 md:p-2">
              <img
                alt="gallery"
                class="block h-full w-full rounded-xl object-cover object-center transition duration-500 hover:scale-105"
                src="/imgs/gallery/robofio.jpeg" />
            </div>
          </div>
        </div>
      </div>
      <div class="container mx-auto px-5 py-2 xl:px-32 xl:pt-0 z-0">
        <div class="-m-1 flex flex-wrap md:-m-2">
          <div class="flex w-1/2 flex-wrap">
            <div class="w-1/2 p-1 md:p-2">
              <img
                alt="gallery"
                class="block h-full w-full rounded-xl object-cover object-center transition duration-500 hover:scale-105"
                src="/imgs/gallery/mural.jpeg" />
            </div>
            <div class="w-1/2 p-1 md:p-2">
              <img
                alt="gallery"
                class="block h-full w-full rounded-xl object-cover object-center transition duration-500 hover:scale-105"
                src="/imgs/gallery/dragon.jpeg" />
            </div>
            <div class="w-full p-1 md:p-2">
              <img
                alt="gallery"
                class="block h-full w-full rounded-xl object-contain object-center transition duration-500 hover:scale-105"
                src="/imgs/gallery/elion.png" />
            </div>
          </div>
          <div class="flex w-1/2 flex-wrap">
            <div class="w-full p-1 md:p-2">
              <img
                alt="gallery"
                class="block h-full w-full rounded-xl object-cover object-center transition duration-500 hover:scale-105"
                src="/imgs/gallery/php.png" />
            </div>
            <div class="w-1/2 p-1 md:p-2">
              <img
                alt="gallery"
                class="block h-full w-full rounded-xl object-cover object-center transition duration-500 hover:scale-105"
                src="/imgs/gallery/menu.jpeg " />
            </div>
            <div class="w-1/2 p-1 md:p-2">
              <img
                alt="gallery"
                class="block h-full w-full rounded-xl object-cover object-center transition duration-500 hover:scale-105" 
                src="/imgs/gallery/quintos.jpeg" />
            </div>
          </div>
        </div>
      </div>
      <div class="container mx-auto px-5 py-2 xl:px-32 xl:pt-24 z-0">
        <div class="-m-1 flex flex-wrap md:-m-2">
          <div class="flex w-1/2 flex-wrap">
            <div class="w-1/2 p-1 md:p-2">
              <img
                alt="gallery"
                class="block h-full w-full rounded-xl object-cover object-center transition duration-500 hover:scale-105"
                src="/imgs/gallery/cuartos2.jpeg/" />
            </div>
            <div class="w-1/2 p-1 md:p-2">
              <img
                alt="gallery"
                class="block h-full w-full rounded-xl object-cover object-center transition duration-500 hover:scale-105"
                src="/imgs/gallery/pintura.jpeg" />
            </div>
            <div class="w-full p-1 md:p-2">
              <img
                alt="gallery"
                class="block h-full w-full rounded-xl object-cover object-center transition duration-500 hover:scale-105"
                src="/imgs/gallery/app.png" />
            </div>
          </div>
          <div class="flex w-1/2 flex-wrap">
            <div class="w-full p-1 md:p-2">
              <img
                alt="gallery"
                class="block h-full w-full rounded-xl object-contain object-center transition duration-500 hover:scale-105"
                src="/imgs/gallery/Poo.png" />
            </div>
            <div class="w-1/2 p-1 md:p-2">
              <img
                alt="gallery"
                class="block h-full w-full rounded-xl object-cover object-center transition duration-500 hover:scale-105"
                src="/imgs/gallery/cuartos.jpeg" />
            </div>
            <div class="w-1/2 p-1 md:p-2">
              <img
                alt="gallery"
                class="block h-full w-full rounded-xl object-cover object-center transition duration-500 hover:scale-105"
                src="/imgs/gallery/pez.jpeg" />
            </div>
          </div>
        </div>
      </div>
      <div class="container mx-auto px-5 py-2 xl:px-32 xl:pt-24 z-0">
        <div class="-m-1 flex flex-wrap md:-m-2">
          <div class="flex w-1/2 flex-wrap">
            <div class="w-1/2 p-1 md:p-2">
              <img
                alt="gallery"
                class="block h-full w-full rounded-xl object-fit object-center transition duration-500 hover:scale-105"
                src="/imgs/gallery/bites.png" />
            </div>
            <div class="w-1/2 p-1 md:p-2">
              <img
                alt="gallery"
                class="block h-full w-full rounded-xl object-cover object-center transition duration-500 hover:scale-105"
                src="/imgs/gallery/foca.jpeg" />
            </div>
            <div class="w-full p-1 md:p-2">
              <img
                alt="gallery"
                class="block h-full w-full rounded-xl object-cover object-center transition duration-500 hover:scale-105"
                src="/imgs/gallery/merch.png" />
            </div>
          </div>
          <div class="flex w-1/2 flex-wrap">
            <div class="w-full p-1 md:p-2">
              <img
                alt="gallery"
                class="block h-full w-full rounded-xl object-contain object-center transition duration-500 hover:scale-105"
                src="/imgs/gallery/Codigopagina.png" />
            </div>
            <div class="w-1/2 p-1 md:p-2">
              <img
                alt="gallery"
                class="block h-full w-full rounded-xl object-cover object-center transition duration-500 hover:scale-105"
                src="/imgs/gallery/ben.jpeg" />
            </div>
            <div class="w-1/2 p-1 md:p-2">
              <img
                alt="gallery"
                class="block h-full w-full rounded-xl object-cover object-center transition duration-500 hover:scale-105"
                src="/imgs/gallery/phpp.png" />
            </div>
          </div>
        </div>
      </div> 
</section>


<style>
    img{
      z-index: 1;
    view-timeline-name: --reveal;
    animation-name: show;
    animation-fill-mode: forwards;
    animation-timeline: --reveal;
    animation-range: entry 25% contain 50%;
      margin-top: 8px;
      vertical-align: middle;

}
img:hover{
  z-index: 1000;
}
</style>