<section class="bg-comp3 sm:h-screen lg:h-[200vh]">
    <h1 class="text-8xl text-negro text-center">Galería</h1>
    <div class="flex flex-wrap px-[4px] py-[0] ">
        <div class="flex-[25%] max-w-[25%] px-[4px] py-[0] [@media_screen_and(max-width:800px)]:flex-[50%] [@media_screen_and(max-width:800px)]:max-w-[50%]">
            <img src="/public/imgs/logo.jpg" alt="">
            <img src="/public/imgs/ingles.jpg" alt="">
            <img src="/public/imgs/chess.jpg" alt="">
            <img src="/public/imgs/cuadross.jpeg" alt="">
            <img src="/public/imgs/disweb.jpg" alt=""></div>
        <div class="flex-[25%] max-w-[25%] px-[4px] py-[0] [@media_screen_and(max-width:800px)]:flex-[50%] [@media_screen_and(max-width:800px)]:max-w-[50%]">
            <img src="/public/imgs/flowerss.jpeg" alt="">
            <img src="/public/imgs/ingles.jpg" alt="">
            <img src="/public/imgs/ingles.jpg" alt="">
            <img src="/public/imgs/ingles.jpg" alt="">
            <img src="/public/imgs/logocolor.png" alt=""></div>
        <div class="flex-[25%] max-w-[25%] px-[4px] py-[0] [@media_screen_and(max-width:800px)]:flex-[50%] [@media_screen_and(max-width:800px)]:max-w-[50%]">
            <img src="/public/imgs/logonoletra.jpg" alt="">
            <img src="/public/imgs/patron1.jpg" alt="">
            <img src="/public/imgs/ingles.jpg" alt="">
            <img src="/public/imgs/ingles.jpg" alt="">
            <img src="/public/imgs/ingles.jpg" alt="">

        </div>
        <div class="flex-[25%] max-w-[25%] px-[4px] py-[0] [@media_screen_and(max-width:800px)]:flex-[50%] [@media_screen_and(max-width:800px)]:max-w-[50%]">
            <img src="/public/imgs/logonoletra.jpg" alt="">
            <img src="/public/imgs/ingles.jpg" alt="">
            <img src="/public/imgs/patron1.jpg" alt="">
            <img src="/public/imgs/ingles.jpg" alt="">
            <img src="/public/imgs/ingles.jpg" alt="">

        </div>
    </div>
    
    
    
    
</section>


<style>
    img{
	view-timeline-name: --reveal;
	animation-name: show;
	animation-fill-mode: both;
	animation-timeline: --reveal;
	animation-range: entry 25% cover 50%;
    width: 10rem;
    height: 10rem;
    margin-top: 8px;
    vertical-align: middle;

}
</style>