<section class="bg-comp3 sm:h-screen lg:h-[200vh]">
    <h1 class="text-8xl text-negro text-center">Galería</h1>
    <div class="container mx-auto px-5 py-2 lg:px-32 lg:pt-24 z-0">
        <div class="-m-1 flex flex-wrap md:-m-2">
          <div class="flex w-1/2 flex-wrap">
            <div class="w-1/2 p-1 md:p-2">
              <img
                alt="gallery"
                class="block h-full w-full rounded-lg object-cover object-center transition duration-500 hover:scale-105"
                src="/public/imgs/gallery/poster.png" />
            </div>
            <div class="w-1/2 p-1 md:p-2">
              <img
                alt="gallery"
                class="block h-full w-full rounded-lg object-cover object-center transition duration-500 hover:scale-105"
                src="/public/imgs/gallery/abisinia.jpeg" />
            </div>
            <div class="w-full p-1 md:p-2">
              <img
                alt="gallery"
                class="block h-full w-full rounded-lg object-cover object-center transition duration-500 hover:scale-105"
                src="/public/imgs/gallery/pastillas.png" />
            </div>
          </div>
          <div class="flex w-1/2 flex-wrap">
            <div class="w-full p-1 md:p-2">
              <img
                alt="gallery"
                class="block h-full w-full rounded-lg object-cover object-center transition duration-500 hover:scale-105"
                src="/public/imgs/gallery/mujer.jpeg" />
            </div>
            <div class="w-1/2 p-1 md:p-2">
              <img
                alt="gallery"
                class="block h-full w-full rounded-lg object-cover object-center transition duration-500 hover:scale-105"
                src="/public/imgs/gallery/guerra.jpeg" />
            </div>
            <div class="w-1/2 p-1 md:p-2">
              <img
                alt="gallery"
                class="block h-full w-full rounded-lg object-cover object-center transition duration-500 hover:scale-105"
                src="/public/imgs/gallery/robofio.jpeg" />
            </div>
          </div>
        </div>
      </div>
      <div class="container mx-auto px-5 py-2 lg:px-32 lg:pt-0 z-0">
        <div class="-m-1 flex flex-wrap md:-m-2">
          <div class="flex w-1/2 flex-wrap">
            <div class="w-1/2 p-1 md:p-2">
              <img
                alt="gallery"
                class="block h-full w-full rounded-lg object-cover object-center transition duration-500 hover:scale-105"
                src="/public/imgs/gallery/mural.jpeg" />
            </div>
            <div class="w-1/2 p-1 md:p-2">
              <img
                alt="gallery"
                class="block h-full w-full rounded-lg object-cover object-center transition duration-500 hover:scale-105"
                src="/public/imgs/gallery/dragon.jpeg" />
            </div>
            <div class="w-full p-1 md:p-2">
              <img
                alt="gallery"
                class="block h-full w-full rounded-lg object-contain object-center transition duration-500 hover:scale-105"
                src="/public/imgs/gallery/elion.png" />
            </div>
          </div>
          <div class="flex w-1/2 flex-wrap">
            <div class="w-full p-1 md:p-2">
              <img
                alt="gallery"
                class="block h-full w-full rounded-lg object-cover object-center transition duration-500 hover:scale-105"
                src="/public/imgs/gallery/php.png" />
            </div>
            <div class="w-1/2 p-1 md:p-2">
              <img
                alt="gallery"
                class="block h-full w-full rounded-lg object-cover object-center transition duration-500 hover:scale-105"
                src="/public/imgs/gallery/menu.jpeg " />
            </div>
            <div class="w-1/2 p-1 md:p-2">
              <img
                alt="gallery"
                class="block h-full w-full rounded-lg object-cover object-center transition duration-500 hover:scale-105" 
                src=" /public/imgs/gallery/quintos.jpeg" />
            </div>
          </div>
        </div>
      </div>
      <div class="container mx-auto px-5 py-2 lg:px-32 lg:pt-24 z-0">
        <div class="-m-1 flex flex-wrap md:-m-2">
          <div class="flex w-1/2 flex-wrap">
            <div class="w-1/2 p-1 md:p-2">
              <img
                alt="gallery"
                class="block h-full w-full rounded-lg object-fit object-center transition duration-500 hover:scale-105"
                src="/public/imgs/gallery/bites.png" />
            </div>
            <div class="w-1/2 p-1 md:p-2">
              <img
                alt="gallery"
                class="block h-full w-full rounded-lg object-cover object-center transition duration-500 hover:scale-105"
                src="/public/imgs/gallery/pintura.jpeg" />
            </div>
            <div class="w-full p-1 md:p-2">
              <img
                alt="gallery"
                class="block h-full w-full rounded-lg object-cover object-center transition duration-500 hover:scale-105"
                src="/public/imgs/gallery/app.png" />
            </div>
          </div>
          <div class="flex w-1/2 flex-wrap">
            <div class="w-full p-1 md:p-2">
              <img
                alt="gallery"
                class="block h-full w-full rounded-lg object-contain object-center transition duration-500 hover:scale-105"
                src="/public/imgs/gallery/Poo.png" />
            </div>
            <div class="w-1/2 p-1 md:p-2">
              <img
                alt="gallery"
                class="block h-full w-full rounded-lg object-cover object-center transition duration-500 hover:scale-105"
                src="/public/imgs/gallery/cuartos.jpeg" />
            </div>
            <div class="w-1/2 p-1 md:p-2">
              <img
                alt="gallery"
                class="block h-full w-full rounded-lg object-cover object-center transition duration-500 hover:scale-105"
                src="/public/imgs/gallery/pez.jpeg" />
            </div>
          </div>
        </div>
      </div>
      <div class="container mx-auto px-5 py-2 lg:px-32 lg:pt-24 z-0">
        <div class="-m-1 flex flex-wrap md:-m-2">
          <div class="flex w-1/2 flex-wrap">
            <div class="w-1/2 p-1 md:p-2">
              <img
                alt="gallery"
                class="block h-full w-full rounded-lg object-fit object-center transition duration-500 hover:scale-105"
                src="/public/imgs/gallery/bites.png" />
            </div>
            <div class="w-1/2 p-1 md:p-2">
              <img
                alt="gallery"
                class="block h-full w-full rounded-lg object-cover object-center transition duration-500 hover:scale-105"
                src="/public/imgs/gallery/foca.jpeg" />
            </div>
            <div class="w-full p-1 md:p-2">
              <img
                alt="gallery"
                class="block h-full w-full rounded-lg object-cover object-center transition duration-500 hover:scale-105"
                src="/public/imgs/gallery/merch.png" />
            </div>
          </div>
          <div class="flex w-1/2 flex-wrap">
            <div class="w-full p-1 md:p-2">
              <img
                alt="gallery"
                class="block h-full w-full rounded-lg object-contain object-center transition duration-500 hover:scale-105"
                src="/public/imgs/gallery/Codigopagina.png" />
            </div>
            <div class="w-1/2 p-1 md:p-2">
              <img
                alt="gallery"
                class="block h-full w-full rounded-lg object-cover object-center transition duration-500 hover:scale-105"
                src="/public/imgs/gallery/ben.jpeg" />
            </div>
            <div class="w-1/2 p-1 md:p-2">
              <img
                alt="gallery"
                class="block h-full w-full rounded-lg object-cover object-center transition duration-500 hover:scale-105"
                src="/public/imgs/gallery/phpp.png" />
            </div>
          </div>
        </div>
      </div>

    
    
    
    
</section>


<style>
    img{
      z-index: 1;
    view-timeline-name: --reveal;
    animation-name: show;
    animation-fill-mode: forwards;
    animation-timeline: --reveal;
    animation-range: entry 25% contain 50%;
      margin-top: 8px;
      vertical-align: middle;

}
img:hover{
  z-index: 1000;
}
</style>