<section class="bg-[url('/public/imgs/chess.jpg')] bg-contain md:bg-cover md:h-screen xl:h-[78vh] h-[80vh] justify-center flex items-center">
    <div class=" bg-negro md:h-[40rem] md:w-[80vw] h-[70vh] w-[80vw] align-center  ">
        <h1 class="2xl:text-8xl xl:text-[5.5rem] md:text-7xl min-[430px]:text-5xl text-[2.75rem] text-center 2xl:h-20 xl:h-18 md:w-[46rem] 2xl:ml-[45rem] xl:ml-[28rem] lg:ml-[4rem] md:ml-[-3.5rem] min-[430px]:ml-[0rem]  md:pt-24 xl:pt-48 pt-20 ">DISEÑO Y <br>DESARROLLO DIGITAL</h1>
        <img src="/public/imgs/logocolor.png"  class="2xl:h-80 xl:h-72 md:h-64  h-36 justify-right 2xl:ml-[11rem] xl:ml-[3rem] lg:ml-[14rem] md:ml-[7rem] min-[390px]:ml-[2.8rem] min-[430px]:ml-[3.8rem] ml-[1rem] 2xl:mt-[-3rem] xl:mt-[-13rem] md:mt-[3rem] mt-[4rem] ">
    </div>
</section> 