<section class="bg-[url('/public/imgs/chess.jpg')] bg-cover sm:h-screen lg:h-[78vh] justify-center flex items-center">
    <div class=" bg-negro h-[40rem] w-[80vw] align-center absolute ">
        <h1 class="text-8xl text-center h-20 w-[46rem] ml-[45rem] pt-48">DISEÑO Y <br>DESARROLLO DIGITAL</h1>
        <img src="/public/imgs/logocolor.png"  class="h-80 justify-right ml-[11rem] mt-[-3rem] ">
    </div>
</section>