<section class="bg-negro bg-cover md:h-screen xl:h-[78vh] h-[80vh]">
    <h1 class="text-8xl text-comp2  pt-10 md:pt-32 2xl:ml-44 xl:ml-28 text-center max-md:ml-10s xl:text-left ">¿Quiénes Somos?</h1>
    <div class="xl:flex">
        <p class="2xl:text-left xl:text-justify text-center 2xl:ml-44 xl:ml-28 md:ml-24 ml-11 pt-10 text-2xl  xl:text-4xl xl:w-[80vw] w-[77vw] md:w-[80v2] md:h-[20vh]  ">
            Nuestra especialidad combina dos áreas: programación y diseño digital. En programación, abarcamos lenguajes como Python, 
            JavaScript, C#, PHP y herramientas como MySQL y SQL Server. 
            En diseño, aprendemos a usar herramientas como Illustrator, Photoshop e InDesign.
        </p>
        <img src="/public/imgs/portada.jpeg" class="rounded-full h-96 w-[28rem] mt-[-4rem] 2xl:ml-30 xl:ml-28 lg:ml-72 lg:mt-0 xl:mt-[-2rem]  max-xl:mt-20 ml-40 max-md:hidden ">
    </div>
</section>