<section class="bg-negro bg-cover sm:h-screen lg:h-[78vh]">
    <h1 class="text-8xl text-comp2 pt-32 ml-44">¿Quiénes Somos?</h1>
    <div class="flex">
        <p class="text-justify ml-44 pt-20 text-4xl">
            Nuestra especialidad combina dos áreas: programación y diseño digital. <br> En programación, abarcamos lenguajes como Python, 
            JavaScript, HTML, CSS, PHP, <br> MySQL y SQL Server. 
            En diseño, aprendemos a usar herramientas como <br> Illustrator, Photoshop e InDesign.
        </p>
        <img src="/public/imgs/portada.jpeg" class="rounded-full h-96 w-[28rem] mt-[-4rem] ml-28">
    </div>
</section>