---
---
<header class="sticky top-0 z-10">
    <nav class="bg-principal h-16">
        <ul class="flex flex-row justify-center py-4  text-2xl text-comp1">
            <li class="hover:bg-secundario px-4 flex-row justify-center cursor-pointer focus:ring-4 
            focus:outline-none font-medium rounded-xl text-center inline-flex items-center
            mr-2 mb-2 hover:shadow-xl transition-all duration-200 ease-in-out hover:scale-110 scale-90 
            gap-x-2 opacity-100 hover:opacity-100"><a href="#">Inicio</a> </li>
            <li class="hover:bg-secundario px-4 hidden md:inline-flex flex-row justify-center cursor-pointer focus:ring-4 
            focus:outline-none font-medium rounded-xl text-center  items-center
            mr-2 mb-2 hover:shadow-xl  transition-all duration-200 ease-in-out hover:scale-110 scale-90 
            gap-x-2 opacity-100 hover:opacity-100"><a href="#areas">Subáreas</a></li>
            <li class="hover:bg-secundario px-4 flex-row justify-center cursor-pointer focus:ring-4 
            focus:outline-none font-medium rounded-xl text-center inline-flex items-center
            mr-2 mb-2 hover:shadow-xl transition-all duration-200 ease-in-out hover:scale-110 scale-90 
            gap-x-2 opacity-100 hover:opacity-100"><a href="#galeria">Galería</a> </li>
        </ul>
    </nav>
</header>