<div class="sm:h-screen lg:h-[78vh]">
    <section class="bg-[url('/public/imgs/flowerss.jpeg')] bg-contain sm:h-screen lg:h-[78vh] justify-center flex items-center" id="subarea">
      <div class=" bg-negro h-[40rem] w-[80vw] text-center absolute ">
        <h1 class="text-8xl text-principal pt-32 text-right mr-48">Técnicas</h1>
        <div class="flex">
            <img src="/public/imgs/tecnicas.jpeg" class="rounded-full h-96 w-96 mt-[-4rem] translate-x-32" />
            <p class="text-right ml-64 pt-20 text-4xl">
            En técnicas de diseño, utilizamos nuestra creatividad <br />
            para idear una variedad de diseños. Esto implica tanto<br /> 
            el desarrollo manual de conceptos como el uso de <br /> herramientas digitales como Photoshop e Illustrator <br />
            para crear.
            </p>
        </div>
      </div>
    </section>
</div>