<div class="h-[80vh]  md:h-screen xl:h-[78vh]" id="tecnicas">
    <section class="bg-[url('/imgs/flowerss.jpeg')] bg-contain md:bg-cover md:h-screen xl:h-[78vh] h-[80vh] justify-center flex items-center" id="subarea">
      <div class="bg-negro md:h-[60rem] h-[70vh] xl:h-[40rem] w-[80vw] align-center ">
        <h1 class="md:text-8xl   text-6xl text-principal  2xl:pt-24 pt-10  min-[430px]:ml-[5rem] lg:ml-[16rem] ml-14 md:ml-40 2xl:ml-[71rem] xl:ml-[47rem]">Técnicas</h1>
        <div class="xl:flex md:block">
            <img src="/imgs/tecnicas.jpeg" class="rounded-full hidden md:block xl:flex lg:max-xl:ml-24 max-xl:translate-x-40 max-xl:pt-4 xl:mt-[-2rem] translate-x-32 h-72 w-72 xl:h-96 xl:w-96 " />
            <p class="xl:ml-36 2xl:ml-96 ml-2  xl:pt-14 pt-20 2xl:pt-20 md:text-4xl text-2xl xl:text-right  text-center 2xl:w-[35vw] xl:w-[40vw] w-[77vw] md:w-[80v2] md:h-[20vh]">
            En técnicas de diseño, utilizamos nuestra creatividad 
            para idear una variedad de diseños. Esto implica tanto
            el desarrollo manual de conceptos como el uso de  herramientas digitales tales como Photoshop e Illustrator 
            para crear.
            </p>
        </div>
      </div>
    </section>
</div>